{% extends 'villageapp/base.html' %}
{% block content%}
<div class="container my-5 p-3">
   
   
  
    
   

       <div class ="card">
       
        <div class="card-body">
          <h5 class="card-title text-center alert alert-info">  {{item.title}}</h5>
          
          <p class="card-text"><b>Date Posted </b>: {{item.date_posted|date:"d - F - Y"}}</p>
          <p class="card-text"><b>Description </b>: {{item.content}}</p>
          
         {% if user.is_superuser %}
         <div class="my-4 p-2">
          <fieldset>
            <legend class="text-muted border-bottom p-2">Actions: </legend>
            <a href="{% url 'notif_update' item.id %}" class="btn btn-outline-primary">Edit-Notification</a>
            <a href="{% url 'notif_delete' item.id %}" class="btn btn-outline-danger mx-3">Delete</a>
            
   
          </fieldset>
         
        </div>
        
         {% endif %}
         {% comment %} <form action="{% url 'notif_listen' %}" method='POST' class='d-inline'>
          {% csrf_token %}
          <input type ="submit" class='btn btn-danger' value="Listen"/> {% endcomment %}
      </form>
         {% comment %} <a href="{% url 'notif_listen' item.id %}" class="btn btn-outline-success mx-3">Listen</a> {% endcomment %}
         {% comment %} <a href="#" class="btn btn-success mx-3">Listen</a> {% endcomment %}
        </div>


      
    
      
   
     </div>
 

  
    
</div>

<div class="container my-3 p-2 bg-light d-flex align-items-center justify-content-center flex-column">
  <p class="h4 mt-3 text-primary">Paste your content in below box  which you want to listen : </p>
  <textarea id="text" cols="50" rows="10" class="container bg-dark text-white my-5" >
    Write your content to listen it.
  </textarea> 
   
 <div class="bg-light d-flex align-items-center justify-content-center">
   <p class="mx-2 text-info h4">Choose Language : </p>
  <select id="voiceselection" class="btn btn-info mx-2"></select>
  <input 
    onclick="responsiveVoice.speak($('#text').val(),$('#voiceselection').val());" 
    type="button" 
    value="Read this for me" 
    class="btn btn-success mx-2"
  />
 </div>

</div>
{% endblock content%}